@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

body {
    margin: 0;
    display: flex;
    font-family: "Kalam", cursive;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("../images/bakugo-izuku.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: darkred;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background: goldenrod;
    color: yellow;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: black;
    opacity: 0.8;
}

.clock .text_jp {
    height: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: black;
    opacity: 0.8;
    font-family: "Yuji Mai", serif;
}

.clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: #4B3621;
}
.clock #ampm_jp {
    position: absolute;
    top: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: #4B3621;
    font-family: "Yuji Mai", serif;

}

.year {
    font-size: 5em;
    color:crimson;
    text-shadow: 2px 2px 4px rgba(200, 15, 15, 0.3);
}
.year::after {
    content: " 年";
}

.countdown {
    margin: 0px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 120px;
    color:yellowgreen;
    text-shadow: 2px 2px 4px rgba(200, 15, 15, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown div {
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 150px;
}

.countdown div::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 0.35em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    height: 35px;
}

.countdown #cd_day::before {
    content: "Day(s)";
}
.countdown #cd_hour::before {
    content: "Hour(s)";
}
.countdown #cd_minutes::before {
    content: "Minutes(s)";
}
.countdown #cd_seconds::before {
    content: "Seconds(s)";
}

.countdown #cd_day::after {
    content: " 日";
}
.countdown #cd_hour::after {
    content: " 時";
}
.countdown #cd_minutes::after {
    content: " 分";
}
.countdown #cd_seconds::after {
    content: " 秒";
}

.year::after, 
.countdown #cd_day::after,
.countdown #cd_hour::after,
.countdown #cd_minutes::after,
.countdown #cd_seconds::after {
    font-family: "Yuji Mai", serif;
}

div.jp_day #month,
div.jp_day #date,
div.jp_day #day {
    font-size: 3.5em;
    color: firebrick;
    text-shadow: 2px 2px 4px rgba(200, 15, 15, 0.3);
}

div.jp_day #month::after {
    content: "月 ";
}
div.jp_day #date::after {
    content: "日 ";
}

div.jp_day #month::after,
div.jp_day #date::after,
div.jp_day #day {
    /* font-size: 3em; */
    color: firebrick;
    text-shadow: 2px 2px 4px rgba(200, 15, 15, 0.3);
    font-family: "Yuji Mai", serif;
}